@tailwind base;
@tailwind components;
@tailwind utilities;

.section-hidden {
  @apply opacity-0 translate-y-32;
}

.sticky-nav {
  @apply fixed top-0 right-0 left-0 opacity-90 shadow-md hover:opacity-100 transition-all duration-300 bg-[#f8f9fb] dark:bg-[#444];
}

.font-color-dark {
  @apply text-[#333];
}

.font-color-light {
  @apply text-[#f8f9fb];
}

.font-color-blue {
  @apply text-[#023e8a] dark:text-[#4f60df];
}

.bg-dark {
  @apply bg-[#023e8a] dark:bg-[#4f60df];
}

.section-title {
  @apply font-color-blue font-bold sm:text-7xl text-6xl justify-self-start tracking-tight;
}

.item-highlight {
  @apply bg-dark font-color-light font-medium;
}

.hidden-text {
  @apply -translate-x-[150%];
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  /* background-color: #f8f9fb; */
}
